<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>04-列表渲染</title>
</head>

<body>
    <div id="div">
        <ul>
            <li v-for="name in names">{{name}}</li>
            <li v-for="stu in student">{{stu}}</li>
        </ul>
    </div>
</body>
<script src="js/vue.js"></script>
<script>
    new Vue({
        el: "#div",
        data: {
            names: ["Tom", "Alice", "Mark", "Bob"],
            student: {
                name: "John",
                age: 18
            }
        }
    });
</script>

</html>